<!-- master.component.html -->
<header>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topStrip">
    </div>
</div>
<div class="row headerStyle ">
    <div class="coltopStripxs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 stylesforLogo" align="left">
               
                <img ID="Image1" runat="server" src="assets/images/logo1.png" />
            </div>

           
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 " align="center">
                  <a  href="https://socialwelfare.uk.gov.in" class="portalHeadingStyle"
                rel="home"
                title="go to Department's Website">
              
                <div  class="dvPortalTitleStyle">
                    <h1> सामाजिक सुरक्षा राज्य पोर्टल </h1>
                    <h3> (समाज कल्याण विभाग, उत्तराखण्ड) </h3>
                    <p > eSPAN Ver.2.0 </p>
                </div>
            </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 HeaderPhotoStyle" align="right">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " align="right">
                        <img ID="Image1" runat="server" src="assets/images/5.jpg" />
                        <!-- <asp:Image Style="border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;"
                            ID="Image2" runat="server" ImageUrl="~/Image/Oldage.jpg" Height="90px" /> -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" align="right">
                        <img ID="Image1" runat="server" src="assets/images/2.jpg" />
                        <!-- <asp:Image Style="border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;"
                            ID="Image3" runat="server" ImageUrl="~/Image/Disability.jpg" Height="90px" /> -->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" align="right">
                        <img ID="Image1" runat="server" src="assets/images/3.jpg" />
                        <!-- <asp:Image Style="border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;"
                            ID="Image4" runat="server" ImageUrl="~/Image/Widow.jpg" Height="90px" /> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 topStrip">
    </div>
</div>
    <!-- <nav class="navbar navbar-top py-0" id="top" aria-label="main navigation">
        <div class="col-12 bg-blue py-1 border-bottom rounded-box">
            <div class="container-fluid">
                <div class="float-end toolstrip">
                
                    <div class="btn-group float-start mx-2 " rel="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group " rel="group" data-bs-toggle="tooltip" data-bs-placement="left"
                            title="Social Media Links">
                           
                                <img src="assets/images/fb-icon.png" alt="facebook"  width="15"
                                >
                                <img src="assets/images/twitter-icon.png" alt="twitter" width="15">
                                <img src="assets/images/instagram-icon.png" alt="instagram" width="15">
                                <img src="assets/images/youtube_icon.png" alt="youtube" width="15">
                           
                        </div>
                    </div>
               
                    <input type="hidden" id="clicks" value="0" />
                    <input type="hidden" id="clicks1" value="0" />
                    <div class="toast position-absolute top-0 start-50 translate-middle-x mt-1" rel="alert"
                        aria-live="assertive" aria-atomic="true">
                        <div
                            class="toast-body py-3 d-flex align-items-center justify-content-between bg-danger rounded">
                            <p class="m-0 fs-7 text-white d-flex align-items-center">
                                <span class="toast-content">Hello, world! This is a toast message.</span>
                            </p>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" name="link"
                                aria-label="Close"></button>
                        </div>
                    </div>
                  
                       
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class=" col-xs-12 col-sm-12  col-md-4 col-lg-4" align="center">
         <a class="navbar-brand d-none d-lg-flex align-items-center text-black" href="https://socialwelfare.uk.gov.in"
                rel="home"
                title=" Go to home page of Department of Social Justice & Empowerment  Ministry of Social Justice & Empowerment  Government of India ">
                <img src="assets/images/logo1.png" alt="Go to Home page" 
                    class="government-logo bg-white rounded dark-disabled">
               
            </a>
            </div>

             <div class=" col-xs-12 col-sm-12  col-md-8 col-lg-8 " align="center">
         <a class="navbar-brand d-none d-lg-flex align-items-center text-black" href="https://socialwelfare.uk.gov.in"
                rel="home"
                title=" Go to home page of Department of Social Justice & Empowerment  Ministry of Social Justice & Empowerment  Government of India ">
              
                <div>
                    <h3> सामाजिक सुरक्षा राज्य पोर्टल </h3>
                    <p> (समाज कल्याण विभाग, उत्तराखण्ड) </p>
                    <p > eSPAN Ver.2.0 </p>
                </div>
            </a>
            </div>

            <!-- <div class=" col-xs-12 col-sm-12  col-md-2 col-lg-2">
        
            </div> -->
   
            <!-- <div class="d-lg-inline-block d-flex align-items-center justify-content-between md-width100">
                <div class="d-none d-xl-inline">
                    <a href="#" class="float-end d-none d-sm-inline border p-2 rounded">
                        <img src="assets/images/Oldage.jpg" alt="Old Age Pension" width="128">
                    </a>
                    <a target="_blank" href="https://nhapoa.gov.in/"
                        class="float-end me-2 d-none d-sm-inline border p-2 rounded">
                        <img src="assets/images/Widow.jpg" alt="Widow Pension" width="">
                    </a>
                    <a target="_blank" href="https://nmba.dosje.gov.in/"
                        class="float-end me-2 d-none d-sm-inline border p-2 rounded">
                        <img src="assets/images/Disability.jpg" alt="Disability Pension" width="">
                    </a>
                </div>
            </div> 
        </div>
    </nav>
    <nav class="navbar py-1 sticky-top navbar-dark bg-blue navbar-expand-xl shadow border-top">
        <div class="container-fluid justify-content-lg-end">
            <a class="navbar-brand d-flex align-items-center d-lg-none" href="#">
                <img src="/public/latest/images/government-logo.png" alt="Go to home" width="40"
                    class="government-logo">
                <img src="/public/latest/images/government-logo2.png" alt="Go to home" width="40"
                    class="government-logo2">
                <div class="lh-1 fs-6 fw-ligh ms-2 text-black">
                    <h6 class="m-0 mb-3"> Department of Social Justice & Empowerment </h6>
                    <p class="m-0 fs-7"> Ministry of Social Justice & Empowerment </p>
                    <p class="m-0 fs-7"> Government of India </p>
                </div>
            </a>
            <button class="navbar-toggler shadow-none px-2" type="button" name="link" area-label="menu"
                data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
               <ul class="navbar-nav me-auto my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link p-0 py-1 me-3 d-inline-block active"
                            href="https://socialjustice.gov.in">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link py-1 me-3 d-inline-block dropdown-toggle"
                            href="https://socialjustice.gov.in/common/1508" id="navbar-1236" rel="button"
                            data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu border" aria-labelledby="navbar-1236">
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/common/1508">Brief
                                    History</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/common/1509">Subjects
                                    Allocated</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/common/1510">Organisational
                                    Set-Up</a></li>
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/public/ckeditor/upload/22001687773710.pdf"
                                    target=&quot;_blank&quot;>Organisation Chart</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/directory/76721">Who&#039;s
                                    Who</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/common/76722">Citizen
                                    Charter</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link py-1 me-3 d-inline-block dropdown-toggle"
                            href="https://socialjustice.gov.in/common/76661" id="navbar-1449" rel="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Sector Overview</a>
                        <ul class="dropdown-menu border" aria-labelledby="navbar-1449">
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/common/76661">Brief
                                    overview</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/common/76662">Sector-wise
                                    detailed information</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link p-0 py-1 me-3 d-inline-block "
                            href="https://socialjustice.gov.in/scheme-cat">Schemes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link py-1 me-3 d-inline-block dropdown-toggle"
                            href="https://socialjustice.gov.in/common/1271" id="navbar-1271" rel="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Associated Organisations</a>
                        <ul class="dropdown-menu border" aria-labelledby="navbar-1271">
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/common/1271#Commissions">Commissions</a></li>
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/common/1271#National-Institutes">National
                                    Institutes</a></li>
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/common/1271#Corporations">Corporations</a></li>
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/common/1271#Foundations">Foundations</a></li>
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/common/1271#Board">Board</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link py-1 me-3 d-inline-block dropdown-toggle"
                            href="https://socialjustice.gov.in/common/77878" id="navbar-77878" rel="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Publication</a>
                        <ul class="dropdown-menu border" aria-labelledby="navbar-77878">
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/whats-new/77884">Notification and OM</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/common/77885"
                                    target=&quot;_blank&quot;>Reports</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/whats-new/1494">Annual
                                    Reports</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/whats-new/77881">Annual
                                    Reports on Prevention Atrocity Act (PoA)</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/whats-new/77882">Annual
                                    Reports on Protection of Civil Rights (PCR)</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link p-0 py-1 me-3 d-inline-block "
                            href="https://socialjustice.gov.in/whats-new/76643">RTI</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link py-1 me-3 d-inline-block dropdown-toggle"
                            href="https://socialjustice.gov.in/home/gallery" id="navbar-76644" rel="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Gallery</a>
                        <ul class="dropdown-menu border" aria-labelledby="navbar-76644">
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/gallery/image">Photo
                                    Gallery</a></li>
                            <li><a class="dropdown-item " href="https://socialjustice.gov.in/gallery/video">Video
                                    Gallery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link py-1 me-3 d-inline-block dropdown-toggle"
                            href="https://socialjustice.gov.in/whats-new/76726" id="navbar-76718" rel="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Tenders / Vacancies</a>
                        <ul class="dropdown-menu border" aria-labelledby="navbar-76718">
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/whats-new/76726">Tenders</a></li>
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/whats-new/76720">Vacancies</a></li>
                            <li><a class="dropdown-item "
                                    href="https://socialjustice.gov.in/whats-new/76798">Advertisement</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link p-0 py-1 me-3 d-inline-block "
                            href="https://socialjustice.gov.in/common/76854">Dashboard</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link p-0 py-1 me-3 d-inline-block "
                            href="https://socialjustice.gov.in/whats-new/77864">Annual Action Plan</a>
                    </li>
                    <li class="nav-item new_menu_q">
                        <a class="nav-link p-0 py-1 me-3 d-inline-block "
                            href="https://socialjustice.gov.in/events">Events</a>
                    </li> -->
                    <!--<a href="https://nhapoa.gov.in" target="_blank" class="d-flex align-items-center me-3 text-dark">
                  <i class="fa fa-phone-square fs-2" aria-label="true"></i>
                  <div class="lh-1 fs-7 fw-bold ms-1">
                     <span>Toll Free No:18002021989</span>
                     <br>
                     <span>National Helpline:14566</span>
                  </div>
               </a>
               <a href="https://ncwwomenhelpline.in/" target="_blank" class="d-flex align-items-center text-dark">
                  <i class="fa fa-phone-square fs-2" aria-label="true"></i>
                  <div class="lh-1 fs-7 fw-bold ms-1">
                     <span>NCW Women's</span>
                     <br>
                     <span>HelpLine:7827170170</span>
                  </div>
               </a>-->
                <!-- </ul> 
            </div>
        </div>
    </nav> -->
</header>

<nav>

</nav>

<main>
    <!-- Content of child routes
  <router-outlet></router-outlet> -->
</main>

<footer>
    <!-- <p>Footer content here</p> -->
</footer>