.headerStyle {
    background-color: #fff;

}

.bg-blue {
    background: #2b79c7;
}

::marker {
    color: #0d6efd;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b79c7;
}

::-webkit-scrollbar-thumb {
    background: #038af8;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.topStrip {
    border: 1px #ccc;
    border-radius: 49px;
    background-color: #0B1E59;
    padding: 21px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.container-fluid {
    /* background-color:#fff; */
}

.bg-blue {
    background: #2b79c7;
}

.navbar-top {
    z-index: 1021;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.stylesforLogo {
    padding: 10px !important;
}

.stylesforPortalTitle {
    padding: 39px;
}
a
{
    text-decoration: none;
 font-weight: bold;
 
 color: #051547;
 font-size: 14PX;
   
}
.HeaderPhotoStyle
{
    padding:5px;
}
.dvPortalTitleStyle
{
    margin:17px;
}
