

.bottomStyle
{
     border: 1px #ccc;
    border-radius: 49px;
    background-color: #0B1E59;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color:#fff;

}
a{
    text-decoration: none;
    cursor: pointer;
    color:#bed2dd
}

.sourceStyle
{
    padding-top:15px;
}
.HyperLinksStyle
{
    font-size: 15px; font-weight: bold; 
    padding-top:15px;
}
.DisclaimerStyle
{
   margin-top: 15px;
    margin-bottom: 15px;
}
.bottomLineStyle
{
    border: solid 1px;
    
}

