<div class="bottomStyle">
    <div class="row sourceStyle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " align="center">
            Source : Social Welfare Department, Uttarakhand
        </div>
    </div>
    <div class="row HyperLinksStyle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
            <!-- <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div> -->

            <a href="http://india.gov.in/" target="_blank">National Portal of India</a> | <a href="../About.aspx">About
                Us</a> | <a href="../AccessibilityStatement.aspx" target="_parent">Accessibility
                Statement</a> | <a href="../CopyrightPolicy.aspx" target="_parent">Copyright Policy</a> |
            <a href="../PrivacyPolicy.aspx" target="_parent">Privacy Policy</a> | <a href="../Disclaimer.aspx"
                target="_parent">Disclaimer</a>
            | <a href="../TermsAndConditions.aspx" target="_parent">Terms & Conditions</a> | <a
                href="../HyperlinkingPolicy.aspx" target="_parent">Hyperlinking Policy</a>
    </div>
    </div>
    <div class="row DisclaimerStyle">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            Site designed, developed and hosted by IT Cell, Social Welfare Department, Uttarakhand
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            Disclaimer: Contents published and available on this Portal are being managed and
            maintained by Social Welfare Department, Govt. of Uttarakhand.<br />
        </div>
    </div>
     <div class="row bottomLineStyle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " align="center">
          
        </div>
    </div>
</div>