<div class="row headerStyle ">
    <div class="coltopStripxs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <img src="assets/images/logo1.png" alt="Logo">
                <!-- <asp:Image ID="Image1" runat="server" ImageUrl="~/Image/logo1.png" /> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h2 class="headerTitle">सामाजिक सुरक्षा राज्य पोर्टल</h2>
                <h2 class="headerTitle">(समाज कल्याण विभाग, उत्तराखण्ड)</h2>
                <h4>eSPAN Ver.2.0</h4>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="assests/images/Oldage.jpg" height="90px" alt="sdfs">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="assests/images/Widow.jpg" height="90px" alt="sdfs">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img src="assests/images/Disability.jpg" height="90px" alt="sdfs">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>