.bottomStyle {
    border: 1px #ccc;
    border-radius: 49px;
    background-color:  #edf5f0; 
    /* #223656; */
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: #000;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: #bed2dd
}

.sourceStyle {
    padding-top: 15px;
}

.HyperLinksStyle {
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
}

.DisclaimerStyle {
    margin-top: 15px;
    margin-bottom: 10px;
}

.bottomLineStyle {
    border: solid 1px;

}

.headerStyle {
    color: #000;
    font-weight: bold;
    border-radius: 49px;
    /* background-image: url('/assets/images/bgimage1.png');   */
    background-color: #edf5f0;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   background-repeat: repeat;

   background-size:auto ;
}

.bg-blue {
    background: #2b79c7;
}

::marker {
    color: #0d6efd;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2b79c7;
}

::-webkit-scrollbar-thumb {
    background: #038af8;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.topStrip {

    border-width: 1px;
    border-radius: 49px;
    background-color: #07768c;
    padding-top: 37px;
    border-radius: 4px;
    box-shadow: 0 2px 6px #00000033;
}
.topStripSchemeStyle
{
    border-width: 1px;
    border-radius: 49px;
    background-color: #e5e7eb;;
    
    border-radius: 4px;
    box-shadow: 0 2px 6px #00000033;
    padding-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px #00000033;
}

.lblPageTitle
{
    font-size: 19px;
    font-weight: 500;
   font-weight: bold;
    color: #07768c;
    

}


.headerbottomStrip {

    border-width: 1px;
    border-radius: 49px;
    background-color: #e5e7eb;
    border-radius: 4px;
    box-shadow: 0 2px 6px #00000033;
    font-size:19px;
}

.bottomStrip {
    border: 0px #ccc;
    border-radius: 49px;
    background-color: #07768c;
    padding: 21px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.container-fluid {
    /* background-color:#fff; */
}

.bg-blue {
    background: #2b79c7;
}

.navbar-top {
    z-index: 1021;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.stylesforLogo {
    padding: 10px !important;
}

.stylesforPortalTitle {
    padding: 39px;
}

a {
    text-decoration: none;
    font-weight: bold;

    color: #000;
    font-size: 14PX

}

.HeaderPhotoStyle {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.dvPortalTitleStyle {
    margin: 21px;
}

