<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ssp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Applicant Login</title>
</head>

<body>

  <div class="container">

    <!-- <app-master></app-master> -->
    <!-- <button (click)="ApplicationRegistrationForm()">Application Registration Form</button>
    <button clas="button">Contact us</button> -->

    <router-outlet></router-outlet>
    <!-- <app-footer-layout></app-footer-layout> -->
  </div>



</body>

</html>